<p>
  side-menu works!
</p>


<div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="with-bg"></div>
  <div>
    <a>
      <!-- <img class="circle" src="./assets/images/profile.jpg" width="100"> -->
    </a>
  </div>
</div>
<div style="background-color: #3e50b5 !important;" class="mt-2 py-3 text-white" fxLayout="column" fxLayoutAlign="center center"
     fxLayoutGap="7px">
  <div fxShow.lt-md="true" fxShow.gt-sm="false">

  </div>
  <div>
    <span class="lead">Dashboar</span>

  </div>
  <div>

    <span>solicitudes</span>

  </div>
</div>
