<mat-toolbar color="primary">
  <span><img src="https://www.zinobe.com/assets/images/logo.png" height=30 width=70></span>

  <button mat-icon-button (click)="openMenu()" fxShow.sm="true" fxShow.gt-sm="false">
    <mat-icon>menu</mat-icon>
  </button>

  <a mat-button routerLink="/" routerLinkActive="active"><span class="fa fa-home fa-lg">hols</span></a>

    <a mat-button routerLink="/dashboard" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Tablero</a>
    <a mat-button routerLink="/solicitudes" routerLinkActive="active"><span class="fa fa-heart fa-lg"></span> Solicitud</a>
    <a mat-button routerLink="/prestamo" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Prestamos</a>
    <a mat-button routerLink="/usuarios" routerLinkActive="active"><span class="fa fa-address-card fa-lg"> Lista de usuarios</span>
      Contact</a>

  <span class="flex-spacer"></span>
<!--  <a *ngIf="!user" mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> iniciar</a>-->
  <a *ngIf="user">{{user.firstName}}</a>
  <a *ngIf="user" mat-button><span class="fa fa-sign-out fa-lg"></span> cerrar sesion</a>
</mat-toolbar>
