<mat-toolbar color="primary">

  <span class="flex-spacer">Iniciar Sesión</span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>


<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <mat-dialog-content>
    <p>
      <mat-form-field>
        <label>
          <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username"  #username="ngModel" required>
        </label>
        <mat-error *ngIf="username.errors?.required">el usuario es requerido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput placeholder="Contraseña" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
        </label>
        <mat-error *ngIf="password.errors?.required">contraseña requerida</mat-error>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Recordarme</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid">Continuar</button>
  </mat-dialog-actions>
</form>
