<!--
<router-outlet name="header"></router-outlet>


<mat-sidenav-container class="last-news-container">
  <mat-sidenav mode="side" opened>
    <div *ngFor="let i of [1,2,3,4,5]">
      <div>{{'&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;' + i}}</div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <router-outlet name="monto-banco"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

-->

<app-sidebar>
  <app-sidebar-content>
    <router-outlet></router-outlet>
  </app-sidebar-content>
</app-sidebar>
