
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [mode]="over" [opened]="opened" class="bottom-to-top">
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (openMenuEmitter)="sidenav.toggle()"  ></app-header>
    <ng-content select="app-sidebar-content"></ng-content>
<!--    <router-outlet></router-outlet>-->
  </mat-sidenav-content>
</mat-sidenav-container>
